<div>
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            ng-click="vm.clear()">&times;</button>
    <h4 class="modal-title" id="myRegistrationLabel">Create or edit a Registration</h4>
</div>

    <div class="modal-body" has-authority="ROLE_ADMIN" style="padding-bottom: 1px; padding-top: 15px">
        <form name="searchForm" role="form" novalidate ng-submit="vm.searchStudent()" has-authority="ROLE_ADMIN">
            <div class="form-group has-feedback">
                <input type="search" class="form-control" placeholder="Search Student by Name" name="searchTerm" id="searchTerm"
                       ng-model="vm.searchTerm"/>
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
        </form>
    </div>
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.registration.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.registration.id" readonly />
        </div>

        <div class="form-group">
            <label for="field_student">Select a Student</label>
            <select class="form-control" id="field_student" name="student" ng-model="vm.registration.student"
                    ng-options="student as student.firstName+' '+student.lastName for student in vm.students track by student.id"
                    required>
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_mlcClassCategory">Select a Class Category</label>
            <select class="form-control" id="field_mlcClassCategory" name="mlcClassCategory" ng-model="vm.mlcClassCategory"
                    ng-options="mlcClassCategory as mlcClassCategory.name for mlcClassCategory in vm.mlcClassCategories track by mlcClassCategory.id"
                    ng-change="vm.searchClasses()" required>
                <option value=""></option>
            </select>
        </div>

        <div class="form-group">
            <label for="field_mlcClass">Select a Class</label>
            <select class="form-control" id="field_mlcClass" name="mlcClass" ng-model="vm.registration.mlcClass"
                    ng-options="mlcClass as mlcClass.className for mlcClass in vm.mlcclasses track by mlcClass.id"
                    required>
                <option value=""></option>
            </select>
        </div>

        <div>
            <label for="disclaimer">
                <div>
                    <h4><strong>Main Line Chinese Culture Center Weekend School Disclaimer and Liability waiver</strong></h4>
                    <h6>Your agreement to participate in an MLCCC Weekend School’s online class
                    means that you fully agree to the following:</h6>

                    <h5><strong>Article I: General Release</strong></h5>
                    <h6>My child is voluntarily participating in MLCCC online and offline learning activities. I hereby waive and discharge MLCCC, its officers, teachers, volunteers, and staff from all liability as a result of my child’s participation in MLCCC activities at any events hosted by or incidental to MLCCC, whether caused by negligence or otherwise, whether resulting in any physical or mental injury, illness or economic loss.</h6>
                    <h5><strong>Article II:  Image/Name Usage Release</strong></h5>
                    <h6>I hereby grant MLCCC the right to use my child’s name and image for promotional, press, or public relations purposes in print and/or in electronic media.
                    <br><br>MLCCC does not use or disclose sensitive personal information, such as race, religion, or political affiliations, without your explicit consent.</h6>
                    <h5><strong>Article III: Students/parent Online Conducts</strong></h5>
                    <h6>All students must use a photo and a complete name to identify yourself (student/parent) in the classroom or will be denied entry.
                    Please update your ZOOM application often (check for update once a week is recommended for maximum security).
                    <br><br>
                        MLCCC teacher has no obligation to monitor students while off camera, it is parent’s responsibility to keep their child(ren) safe while away from teacher’s camera views.
                    Make sure your children are in a quiet place during class time, and especially for young children, a place is preferred where parents can monitor the session.
                    Students will not post messages or upload files to defame, abuse, harass, threaten, bully or otherwise violate the legal rights (such as rights of privacy and publicity) of others.
                        <br><br>Students will not publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topics or photos or messages on the shared screen/chat box during class time.
                    The teacher reserves the right to remove a student from the classroom if s/he is disruptive to the learning environment or violate the above rules of conducts after proper discipline warnings.
                        <br><br>Friendly reminder that everything within the camera field area will be visible to the teacher and all the other students in the class. All classes will be live & interactive all the time. Can turn the camera toward the wall to help maintain your privacy.
                    I understand and agree that in the event any dispute arises between me either personally or on behalf of my child and MLCCC or other personnel, that dispute will be decided according to the laws of the state of Pennsylvania.</h6>
                    <h5><strong>Article IV: COPPA Compliance - ONLINE TECHNOLOGY CONSENT FORM</strong></h5>
                    <h6>For MLCCC to continue to provide your student with the most effective tools to enhance their learning, school Admin and teachers may use educational web-based services and applications. Many of the Terms of Service and/or Privacy Policies of these applications state that, due to Federal Law, any users under the age of 13 must obtain parental permission to use their sites and often require an email address or other personal identifiers information.
                        <br><br>Our recently embarked web-based learning is operated not by MLCCC, but by third parties, ZOOM (明朗中文学校ZOOM网课).  In addition to Google Apps for Education (GAFE), some of the applications used are Web-based Mandarin learning, YouTube, Google Search Engine, etc.
                        <br><br>For our students to use these programs and services, certain personally identifying information, generally the student’s name and/or registered IDs must be provided to the web site operator, in this case, Admin and teachers and ZOOM.  Under federal law entitled the Children’s Online Privacy Protection Act (COPPA), these websites and MLCCC must provide parental notification and obtain parental consent before collecting personal information (photo/audio/video recordings) from children under the age of 13. For more information on COPPA, please visit https://www.ftc.gov/tips-advice/
                    The law permits schools like MLCCC to consent to the collection (photo/audio/video recording) of personal information on behalf of all of its students, thereby eliminating the need for individual parental consent given directly to the web site operator (ZOOM).
                        <br><br>This form, when completed below, and on file with MLCCC, will constitute consent for our school to provide personal identifying information for your child consisting of first name, last name, and email address and username (where applicable).
                        <br><br>List of Web-Based Resources or websites most commonly used by the MLCCC teachers and students: www.zoom.com, www.google.com, www.youtube.com, www.edulines.com, or other third parties online where teachers deem proper for online learning reference.
                        <br><br>If you do not want your student to participate in these programs (primarily ZOOM online learning or 明朗中文学校网课), select OPT-OUT at the end of the registration, otherwise, you will be properly deemed to be opted-in for this disclaimer. Thank you.
                    </h6>
                </div>
                <input type="checkbox" id="disclaimer" name="disclaimer" ng-model="checked" ng-click="vm.select()">
                <span>I accept</span>
            </label>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || !vm.checked" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
</div>