
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAppliedDiscountLabel">Create or edit a Applied Discount</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.appliedDiscount.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.appliedDiscount.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createdDate">Created Date</label>
                <div class="input-group">
                    <input id="field_createdDate" type="text" class="form-control" name="createdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.appliedDiscount.createdDate" is-open="vm.datePickerOpenStatus.createdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_modifiedDate">Modified Date</label>
                <div class="input-group">
                    <input id="field_modifiedDate" type="text" class="form-control" name="modifiedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.appliedDiscount.modifiedDate" is-open="vm.datePickerOpenStatus.modifiedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('modifiedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_discount">Discount</label>
            <select class="form-control" id="field_discount" name="discount" ng-model="vm.appliedDiscount.discount" ng-options="discount as discount.id for discount in vm.discounts track by discount.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_registration">Registration</label>
            <select class="form-control" id="field_registration" name="registration" ng-model="vm.appliedDiscount.registration" ng-options="registration as registration.id for registration in vm.registrations track by registration.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_invoice">Invoice</label>
            <select class="form-control" id="field_invoice" name="invoice" ng-model="vm.appliedDiscount.invoice" ng-options="invoice as invoice.id for invoice in vm.invoices track by invoice.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
