<div>
    <h2>Classes</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"  has-authority="ROLE_ADMIN" >
                <button class="btn btn-primary" ui-sref="mlc-class.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Class
                    </span>
                </button>
            </div>
            <div class="col-sm-6">
                <form name="searchForm" role="form" novalidate ng-submit="vm.searchClass()">
                    <div class="form-group has-feedback">
                        <input type="search" class="form-control" placeholder="Search Class by Name" name="searchTerm" id="searchTerm"
                               ng-model="vm.searchTerm"/>
                        <i class="glyphicon glyphicon-search form-control-feedback"></i>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div class="col-sm-2">
                <!--<label for="field_status">School Term</label>-->
                <select class="form-control" id="field_school_term" name="school_term" ng-model="vm.schoolTerm"
                        ng-options="schoolTerm as schoolTerm.term for schoolTerm in vm.schoolTerms track by schoolTerm.id"
                        ng-change="vm.filterClasses()">
                    <option value="">Select School Term</option>
                </select>
            </div>
            <div class="col-sm-2">
                <!--<label for="field_status">School Term</label>-->
                <select class="form-control" id="field_category" name="category" ng-model="vm.category"
                        ng-options="category as category.name for category in vm.mlcClassCategories track by category.id"
                        ng-change="vm.filterClasses()">
                    <option value="">Select Category</option>
                </select>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="className"><span>Class Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mlcClassCategory"><span>Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="minAge"><span>Min Age</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status.id"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="classTime.id"><span>Class Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="teacher.id"><span>Teacher</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="classRoom.id"><span>Class Room</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span>Tuition</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="mlcClass in vm.mlcClasses track by mlcClass.id">
                    <td><a ui-sref="mlc-class-detail({id:mlcClass.id})">{{mlcClass.className}}</a></td>
                    <td>{{mlcClass.mlcClassCategory.name}}</td>
                    <td>{{mlcClass.minAge}}</td>
                    <td style="color:{{mlcClass.status.colorDisplayed}};">{{mlcClass.status.status}}</td>
                    <td>
                        {{mlcClass.classTime.classTime}}
                    </td>
                    <td>
                        <a ui-sref="teacher-detail({id:mlcClass.teacher.id})">{{mlcClass.teacher.firstName}} {{mlcClass.teacher.lastName}}</a>
                    </td>
                    <td>
                        {{mlcClass.classRoom.roomNumber}}
                    </td>
                    <td>{{mlcClass.tuition | currency:"$"}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="mlc-class.edit({id:mlcClass.id})"
                                    class="btn btn-primary btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="mlc-class.delete({id:mlcClass.id})"
                                    class="btn btn-danger btn-sm" has-authority="ROLE_ADMIN">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <!--<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>-->
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
