<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
            <h1>Welcome To MLCCC Home!</h1>
            <p class="lead">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>
            <div class="col-md-9">
                <iframe data-ng-src="{{vm.newsletter_url}}" style="width: 500px;height: 340px;border: none"></iframe>
            </div>
            <div class="col-md-3">
                <div class="table-responsive">
                    <table class="jh-table table table-striped">
                        <tbody>
                        <tr ng-repeat="newsLetter in vm.newsLetters track by newsLetter.id">
                            <td class="text-right">
                                <button type="submit"
                                        ng-click="vm.changeNewsletter(newsLetter.fileName)"
                                        class="btn btn-info">
                                    <span class="glyphicon"></span>&nbsp;<span> {{newsLetter.name}}</span>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="paypal-button"></div>
            <script>
                paypal.Button.render({
                    env: 'sandbox',
                    client: {
                        sandbox: 'demo_sandbox_client_id'
                    },
                    payment: function (data, actions) {
                        return actions.payment.create({
                            transactions: [{
                                amount: {
                                    total: '0.01',
                                    currency: 'USD'
                                }
                            }]
                        });
                    },
                    onAuthorize: function (data, actions) {
                        return actions.payment.execute()
                            .then(function () {
                                window.alert('Thank you for your purchase!');
                            });
                    }
                }, '#paypal-button');
            </script>
        </div>
    </div>
</div>
