
<div>
    <h2><span>Student</span> {{vm.student.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{vm.student.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{vm.student.lastName}}</span>
        </dd>
        <dt><span>Gender</span></dt>
        <dd>
            <span>{{vm.student.gender}}</span>
        </dd>
        <dt><span>Birth Month</span></dt>
        <dd>
            <span>{{vm.student.birthMonth}}</span>
        </dd>
        <dt><span>Birth Year</span></dt>
        <dd>
            <span>{{vm.student.birthYear}}</span>
        </dd>
        <dt><span>Notes</span></dt>
        <dd>
            <span>{{vm.student.notes}}</span>
        </dd>
        <div has-authority="ROLE_ADMIN">
            <dt><span>Associated Users</span></dt>
            <dd>
                <!--<a ui-sref="user-management-detail({login:vm.student.associatedAccounts[0].login})">
                    {{vm.student.associatedAccounts[0].login + ' ' + vm.student.associatedAccounts[0].lastName}} </a>-->
                <div ng-switch="vm.student.associatedAccounts.length > 0">
                    <div ng-switch-when="true">
                        <table class="jh-table table table-striped">
                            <thead>
                            <tr>
                                <th><span>First Name</span></th>
                                <th><span>Last Name</span></th>
                                <th><span>Login</span></th>
                                <th><span>Primary Contact</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="user in vm.student.associatedAccounts track by user.id">
                                <td>{{user.firstName}}</td>
                                <td>{{user.lastName}}</td>
                                <td>{{user.login}}</td>
                                <td>
                                    <div ng-if="user.primaryContact">
                                        <span class="glyphicon glyphicon-check"></span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </dd>
        </div>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button has-authority="ROLE_ADMIN" type="button" ui-sref="student-detail.edit({id:vm.student.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down"> Edit</span>
    </button>
</div>
