
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySchoolTermLabel">Create or edit a School Term</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.schoolTerm.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.schoolTerm.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_term">Term</label>
            <input type="text" class="form-control" name="term" id="field_term"
                    ng-model="vm.schoolTerm.term"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_status">Status</label>
            <select class="form-control" id="field_status" name="status" ng-model="vm.schoolTerm.status"
                    ng-options="status for status in vm.statusList">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_register">Register</label>
                <input type="checkbox" name="register" id="field_register"
                          ng-model="vm.schoolTerm.register"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_promDate">Prom Date</label>
                <div class="input-group">
                    <input id="field_promDate" type="text" class="form-control" name="promDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.schoolTerm.promDate" is-open="vm.datePickerOpenStatus.promDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('promDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_earlyBirdDate">Early Bird Date</label>
                <div class="input-group">
                    <input id="field_earlyBirdDate" type="text" class="form-control" name="earlyBirdDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.schoolTerm.earlyBirdDate" is-open="vm.datePickerOpenStatus.earlyBirdDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('earlyBirdDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
