
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMlcAccountLabel">Create or edit a Mlc Account</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.mlcAccount.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.mlcAccount.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.mlcAccount.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_password">Password</label>
            <input type="text" class="form-control" name="password" id="field_password"
                    ng-model="vm.mlcAccount.password"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.mlcAccount.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label for="field_contact">Contact</label>
            <select class="form-control" id="field_contact" name="contact" ng-model="vm.mlcAccount.contact" ng-options="contact as contact.id for contact in vm.contacts | orderBy:'id' track by contact.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
